<h1><%= @walker.walker_name %></h1>
<p>I am your <%= @walker.walker_time %> walker</p>
<%= image_tag @walker.walker_img %>

<h2>New Dog</h2>

<%= form_for Dog.new do |d| %>
    <%= d.label :dog_name %>
    <%= d.text_field :dog_name %>

    <%= d.label :owner_name %>
    <%= d.text_field :owner_name %>

    <%= d.label :dog_size %>
    <%= d.text_field :dog_size %>

    <%= d.submit "Create" %>
<% end %>



<h4>List of dogs</h4>

<% if @walker.dogs.any? %>
  <ul>
    <% @walker.dogs.each do |dog| %>
      <li><%= dog.dog_name %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no dogs who walk with this walker.</p>
<% end %>

<%= link_to 'Back', walkers_path %>
